<div class="side-pane" [class.open]="isOpen">
  <div class="side-pane-header">
    <button mat-icon-button class="close-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <h3>Received Quotes</h3>
  </div>
  <div class="side-pane-content">
    <div *ngIf="isLoading" class="loading-spinner-container">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading">
      <div *ngIf="selectedOrder">
        <!-- <h4>Order ID: {{ selectedOrder.Order_ID }}</h4>
        <h5>Quote ID: {{ selectedOrder.Quote_ID }}</h5> -->
        <div class="supplier-quotes">
          <mat-card *ngFor="let quote of supplierQuotes" class="supplier-quote-card" (click)="viewQuoteDetails(quote)">
            <mat-card-header>
              <mat-card-title>Supplier: {{ quote.supplier_name }}</mat-card-title>
              <mat-card-subtitle>Quote Value: {{ quote.Total_Quote_Value | currency:quote.Currency:'symbol':'1.2-2' }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Delivery Date:</strong> {{ quote.Delivery_Date | date:'mediumDate' }}</p>
              <p><strong>Delivery Cost:</strong> {{ quote.Delivery_Cost | currency:quote.Currency:'symbol':'1.2-2' }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="!selectedOrder" class="no-order-selected">
      <mat-icon>info</mat-icon>
      <p>No order selected</p>
    </div>
  </div>
</div>