<div class="inventoryHolder">
    <div class="mobile-view" *ngIf="isMobileView">
        <button class="scan-qr-button" (click)="handleQRCodeScan(null)">Scan QR Code</button>
    </div>
    <app-grid
        *ngIf="!isMobileView"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [addButton]="addButton"
        (rowsToDelete)="handleRowsToDelete($event)"
        (addNewClicked)="openAddItemPopup()"
        (itemToUpdate)="handleCellValueChanged($event)"
        (requestStock)="openRequestStockPopup($event)"
        (viewInventorySummary)="onViewInventorySummary()"
        (importExcelClicked)="openImportItemsModal()"
        (scanQRCode)="handleQRCodeScan($event)"
        #gridComponent
    >
    </app-grid>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <app-loading-spinner></app-loading-spinner>
</div>