.full-width-tile {
    display: flex;
    width: 100%;
    align-items: start;
    /* Adjust vertical alignment as needed */
    justify-content: space-between;
}

.half-width {
    width: 50%;
    /* Each column takes half the width */
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* Add padding for better spacing */
}

.year-dropdown {
    margin-top: 10px;
    margin-right: 20px;
    /* Ensures dropdown is positioned towards the right */
}

.chart-container {
    padding: 20px;
    box-sizing: border-box;
    /* Ensures padding doesn't affect the overall width */
}