
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculation-status {
    color: #005cbb;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}



.btn {
    border-radius: 5px;

    width: 200px;
    height: 40px;
}
