<!-- automation-settings-modal.component.html -->
<div class="automation-settings-container">
    <h1 mat-dialog-title style="text-align: center; --mdc-dialog-subhead-size: 30px">Inventory Scanner</h1>
    <mat-dialog-content>
        <div class="next-scan-info">
            <p><strong>Next scheduled scan:</strong> {{ nextScheduledScan | date: 'medium' }}</p>
            <p><strong>Time until next scan:</strong> {{ countdownTime }}</p>
        </div>
        <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Daily">
                <div class="daily-scan-time">
                    <mat-form-field>
                        <mat-label>Daily Scan Time</mat-label>
                        <input matInput type="time" [(ngModel)]="dailyTime" />
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Weekly">
                <div class="weekly-schedule">
                    <mat-form-field
                        *ngFor="
                            let day of ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
                        "
                    >
                        <mat-label>{{ day | titlecase }}</mat-label>
                        <input matInput type="time" [(ngModel)]="weeklySchedule[day]" />
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button (click)="cancel()" [disabled]="isLoading" class="btn">Cancel</button>
        <button mat-flat-button (click)="saveSettings()" [disabled]="isLoading" class="btn">Save Settings</button>
        <div style="display: flex; width: 100%">
            <button mat-flat-button (click)="scanNow()" [disabled]="isLoading" class="btn2">Scan Now</button>
        </div>
    </mat-dialog-actions>

    <div *ngIf="isLoading" class="loading-overlay">
        <app-loading-spinner></app-loading-spinner>
    </div>
</div>
