<!-- Header component HTML -->
<mat-toolbar>
    <span>{{ pageTitle }}</span>
    <span class="flex-spacer"></span>
    <!-- User profile -->
    <div class="user-profile" [matMenuTriggerFor]="menu">
        <div class="profile-box">
            <img src="{{ img }}" alt="User Name" class="profile-pic" />
            <div class="user-info">
                <span class="username">{{ user }}</span>
                <span class="role">Admin</span>
            </div>
        </div>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
    </mat-menu>
</mat-toolbar>
