mat-toolbar {
    display: flex;
    align-items: center;
    background-color: var(--header-bg-color);
    font-weight: 450;
    font-size: 35px;
}

.flex-spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    margin-right: 24px;
}

.large-icon {
    font-size: 30px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.profile-box {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--header-bg-color);
    padding: 11px;
    height: 50px;
}

.theme-svg circle,
.theme-svg path {
    stroke: var(--svg-stroke-color); /* Default stroke for light mode */
}

.dark-mode .theme-svg circle,
.dark-mode .theme-svg path {
    stroke: var(--svg-stroke-color); /* Lighter stroke for dark mode */
}

svg.theme-svg {
    margin-right: 15px;
}

.profile-pic {
    color: var(--header-profile-text);
    /* Icon color */
    font-size: 48px;
    /* Icon size, adjust as needed */
    width: 48px;
    /* Match width to font-size or as needed */
    height: 48px;
    /* Match height to font-size or as needed */
    border-radius: 50%;
    /* Circular mask, if desired */
    /* background-color: #eee; */
    /* Background color, if needed */
}

.user-info {
    display: flex;
    flex-direction: column;
}

.pageTitle{
    color: var(--header-profile-text);
}

.username {
    font-weight: bold;
    font-size: 16px;
    color: var(--header-profile-text);
}

.role {
    font-size: 14px;
    color: var(--header-profile-text);
}

/* NOTIFICATIONS */

.notification-panel {
    position: fixed;
    top: 64px;
    right: 0;
    height: calc(100% - 64px);
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
}

.notification-panel.open {
    transform: translateX(0);
}

.resize-handle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: ew-resize;
    background-color: #e0e0e0;
}

.resize-handle:hover {
    background-color: #bdbdbd;
}

@media (max-width: 800px) and (max-height: 857px) {
    .notification-panel {
        right: -35%;
        width: 35%;
    }
}

.notification-panel.open {
    right: 0;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.notification-tabs {
    /* overflow-x: auto; */
}


.mat-tab-label {
    min-width: 100px !important;
    padding: 0 24px !important;
    color: rgba(0, 0, 0, 0.87) !important;
    opacity: 1 !important;
}

.mat-tab-label-active {
    color: #3f51b5 !important;
    opacity: 1 !important;
}


.mat-tab-header {
    border-bottom: 1px solid #e0e0e0;
}

.tab-scroll-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #757575;
    cursor: help;
}

.notification-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
}

.main-content {
    transition: width 0.3s ease-in-out;
    width: 100%;
}

.main-content.with-notification-panel {
    width: 75%;
}

@media (max-width: 800) and (max-height: 857px) {
    .main-content.with-notification-panel {
        width: 65%;
    }
}

.mat-list-item {
    margin-bottom: 16px;
}

mat-list-item {
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    
}

mat-list-item h3[matListItemTitle] {
    font-size: 20px; 
    font-weight: 500; 
    margin-bottom: 4px; 
}

mat-icon {
    margin-right: 16px;
}

.notification-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #e0e0e0;
}

.filter-controls {
    display: flex;
    align-items: center;
    gap: 16px; /* This adds space between the checkboxes and the button */
    overflow-x: hidden;
    scrollbar-width: thin;
    /* scrollbar-color: #888 #f1f1f1; */
    padding-bottom: 8px; /* Add some padding to show scrollbar */
    max-width: calc(100% - 100px); /* Adjust based on your unread count width */
    transition: transform 0.3s ease;
}

.chevron-left, .chevron-right {
    color: #3f51b5;
}

.filter-controls::-webkit-scrollbar {
    height: 6px;
}

.filter-controls::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.filter-controls::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.filter-controls::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Ensure checkboxes don't shrink */
.filter-controls mat-checkbox {
    flex-shrink: 0;
}

/* Ensure the mark all as read button doesn't shrink */
.filter-controls .mark-all-read {
    flex-shrink: 0;
}

.unread-count {
    font-weight: bold;
    color: #3f51b5;
    white-space: nowrap;
    margin-left: 16px;
    flex-shrink: 0;
}

/* Ensure checkboxes and mark-all-read button don't shrink */
.filter-controls mat-checkbox,
.filter-controls .mark-all-read {
    flex-shrink: 0;
}

.unread {
    font-weight: bold;
    
}

.unread mat-list-item {
    background-color: #e3f2fd;
}

.unread {
    font-weight: bold;
    background-color: #e3f2fd;
}

mat-list-item:hover {
    /* background-color: #f0f0f0; */
    cursor: pointer;
}

.unread mat-list-item:hover {
    background-color: #9bd1f8;
}

mat-icon[matListIcon] {
    margin-right: 16px;
}

mat-icon:last-child {
    margin-left: auto;
}

.archived {
    opacity: 0.5;
}

.archived:hover {
    opacity: 0.8;
}

.mat-mdc-button .mat-mdc-button-touch-target{
    background-color: none;
}