<mat-toolbar>
    <span class="pageTitle">{{ pageTitle }}</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button (click)="toggleNotificationPanel()" class="toolbar-icon">
        <mat-icon [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0" matBadgeColor="warn"
            >notifications</mat-icon
        >
    </button>
    <button mat-icon-button (click)="clickSettings()" class="toolbar-icon">
        <mat-icon>settings</mat-icon>
    </button>
    <div class="user-profile" [matMenuTriggerFor]="menu">
        <div class="profile-box">
            <div class="user-info">
                <span class="username">{{ userName }}</span>
                <span class="role">{{ userEmail }}</span>
            </div>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</mat-toolbar>

<app-notifications-side-pane
    [isPanelOpen]="isNotificationPanelOpen"
    (closePanel)="onClosePanel()"
    (unreadCountChange)="updateUnreadCount($event)"
></app-notifications-side-pane>

<div class="main-content" [class.with-notification-panel]="isNotificationPanelOpen">
    <ng-content></ng-content>
</div>
