mat-toolbar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    font-weight: 450;
    font-size: 35px;
}
.flex-spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    margin-right: 24px;
}

.large-icon {
    font-size: 30px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.profile-box {
    display: flex;
    align-items: center;
    border-left: 1px solid grey;
    padding: 11px;
    height: 50px;
    /* border-radius: 5px;
    /* Optional: if you prefer rounded corners */
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font-size: 16px;
}

.role {
    font-size: 14px;
    color: gray;
}
