<!-- Header component HTML -->
<mat-toolbar>
    <span>{{ pageTitle }}</span>
    <span class="flex-spacer"></span>
    <!-- User profile -->
    <div class="user-profile" [matMenuTriggerFor]="menu">
        <div class="profile-box">
            <mat-icon class="profile-pic">account_circle</mat-icon>
            <div class="user-info">
                <span class="username">{{ userName }}</span>
                <span class="role">{{ userEmail }}</span>
            </div>
        </div>
    </div>    
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</mat-toolbar>