<div class="qr-modal-container">
    <mat-dialog-content>
      <div id="qrCodePrintArea">
        <div class="product-info">
            <h3>SKU: {{ data.sku }}</h3>
            <p>{{ data.description }}</p>
          </div>
        <div class="qr-code-container">
          <img [src]="data.qrCode" alt="QR Code">
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button (click)="printQRCode()">
        <mat-icon>print</mat-icon> Print QR Code
      </button>
      <button mat-flat-button (click)="onClose()">Close</button>
    </mat-dialog-actions>
  </div>