.dialog {
    width: 40vw;
    height: 50vh;
}

.header {
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    height: 50px;
}

h1 {
    font-size: 30px;
}

.inputHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form{
    margin: 20px;
}