/* SCROLL BAR */
.mat-mdc-button-raised {
    width: 30vh;
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 0;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /* overflow-y: scroll; */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: linear-gradient(white, #f1f1f1);
    box-shadow:
        0px 6px 6px -3px rgba(0, 0, 0, 0.2),
        0px 10px 14px 1px rgba(0, 0, 0, 0.14),
        0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.test {
    border-radius: 20px;
    margin-right: 10px;
    --mdc-outlined-button-label-text-color: black;
    --mdc-outlined-button-outline-color: #74777f;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
    margin-left: 5px;
    width: 10px;
    border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: max-content;
}

.content .row {
    display: flex;
    align-items: top;
}

.content .first-row {
    justify-content: space-between;
    height: 10%;
    font-size: 30px;
}

.content .first-row h1 {
    margin: 0;
    /* font-weight: 500; */
    font-size: 70px;
}

.content .first-row .buttons {
    display: flex;
    padding: 10px;
}
/* LIGHT AND DARK MODE TOGGLE */

.mode-toggle span {
    font-size: 25px;
    font-weight: 500;
    padding-top: 40px;
}

.mode-toggle mat-slide-toggle {
    margin-left: 15vh;
}

.content .second-row .vertical-line {
    width: 3px;
    background-color: #000;
    height: 95%;
    margin-left: 10px;
}

/* Override Angular Material Styles for Toggle*/

.mdc-switch:enabled .mdc-switch__track::after {
    background: #544c4c !important;
}

.mdc-switch.mdc-switch--unselected:enabled .mdc-switch__icon {
    display: none !important;
}

.mdc-switch:enabled .mdc-switch__track::before {
    background: #fff !important;
}

.mdc-switch__track::before {
    border-width: var(--mat-switch-track-outline-width) !important;
    border-color: #ffffff !important;
}

/* TROUBLESHOOTING */

/* BANNER  */
.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mat-tab-header-active-focus-label-text-color: var(--tab-active-color);
    --mat-tab-header-active-label-text-color: var(--tab-active-color);
    --mat-tab-header-inactive-label-text-color: var(--tab-inactive-color);
    --mat-tab-header-inactive-focus-label-text-color: var(--tab-hover-color);
    --mat-tab-header-inactive-hover-label-text-color: var(--tab-hover-color);
    --mdc-tab-indicator-active-indicator-color: var(--tab-indicator-color);
    --mat-tab-header-active-hover-label-text-color: var(--tab-hover-color);
    --mat-tab-header-inactive-ripple-color: var(--tab-ripple-color);
    --mat-tab-header-active-focus-indicator-color: #000;
    --mdc-secondary-navigation-tab-container-height: 35px;
}

.content
    .second-row
    .right-pane
    .troubleshooting-section
    .troubleshooting-row-three
    .troubleshooting-banner
    .banner-text
    h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 30px;
}

.content
    .second-row
    .right-pane
    .troubleshooting-section
    .troubleshooting-row-three
    .troubleshooting-banner
    .banner-text
    p {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.content
    .second-row
    .right-pane
    .troubleshooting-section
    .troubleshooting-row-three
    .troubleshooting-banner
    .get-in-touch-button {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    height: 70px;
    width: 150px;
    margin-left: auto;
    font-weight: 500;
    border: #000;
}

/* CONTACT SUPPORT */

.content
    .second-row
    .right-pane
    .customer-support-section
    .customer-support-row-two
    .column-two
    form
    mat-form-field
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important;
    border-radius: 15px !important;
    max-width: fit-content;
}

mat-form-field {
    width: 100%;
    background-color: none !important;
    border-radius: 15px;
}
mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: -webkit-fill-available;
    text-align: left;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--mat-form-field-container-text-font);
    line-height: var(--mat-form-field-container-text-line-height);
    font-size: var(--mat-form-field-container-text-size);
    letter-spacing: var(--mat-form-field-container-text-tracking);
    font-weight: var(--mat-form-field-container-text-weight);
    padding-left: 20px;
    padding-right: 20px;
}

/* REMOVE UNDERLINE IN FORM FIELDS */
.content
    .second-row
    .right-pane
    .customer-support-section
    .customer-support-row-two
    .column-two
    form
    mat-form-field
    .mdc-line-ripple {
    display: none;
}

.content
    .second-row
    .right-pane
    .customer-support-section
    .customer-support-row-two
    .column-two
    form
    mat-form-field
    textarea {
    height: 120px;
    background-color: #fff;
}

::ng-deep .mdc-line-ripple,
::ng-deep .mdc-line-ripple.ng-tns-c1534922977-12,
::ng-deep .mdc-line-ripple--deactivating,
::ng-deep .mdc-line-ripple.ng-star-inserted {
    display: none !important;
}

.content
    .second-row
    .right-pane
    .customer-support-section
    .customer-support-row-two
    .column-two
    form
    .button-container {
    display: flex;
    justify-content: flex-end;
    /* Align the button to the right */
}

/* BANNER  */

.content .second-row .right-pane .customer-support-section .customer-support-row-three {
    height: 10%;
    display: flex;
    align-items: center;
}

.content
    .second-row
    .right-pane
    .customer-support-section
    .customer-support-row-three
    .customer-support-banner
    .get-in-touch-button {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    height: 70px;
    width: 150px;
    margin-left: auto;
    font-weight: 500;
    border: #000;
}

.mat-mdc-tab-body-content.ng-trigger.ng-trigger-translateTab {
    height: 100vh;
    overflow: scroll;
    padding-right: 30px;
}

.side-menu nav ul li a:link {
    color: var(--text-color);
    font-weight: 500;
}

.side-menu nav ul li a:visited {
    color: #000;
    font-weight: 500;
}

.side-menu nav ul li a:hover {
    color: var(--text-color-hover);
    font-weight: 500;
}

.side-menu nav ul li ul {
    margin-left: 16px;
}

.mat-mdc-button .mat-mdc-button-touch-target {
    position: absolute;
    top: 50%;
    height: 50px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: var(--mat-text-button-touch-target-display);
    background-color: #f3f3f3;
    border-radius: 5px;
    border: #000;
}

/* RELEASE NOTES SECTION */

.form-row mat-form-field {
    background-color: none;
}

button.send-button {
    /* background-color: #8f8f8f; */
    width: 200px;
    height: 60px;
    color: #000 !important;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    border: #000;
}

/* FORM FIELD EDITING SH** TOOK LONG YALL */

/* MAKE FORM FIELDS WHITE */
mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
    border-radius: 15px;
}

/* REMOVE UNDERLINE IN FORM FIELDS */
mat-form-field .mdc-line-ripple {
    display: none;
}

.mat-form-field-flex {
    background-color: white !important;
    border-radius: 15px !important;
}

.mat-form-field-outline {
    border-radius: 15px !important;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end {
    border-radius: 15px !important;
}

.mat-form-field-outline-gap {
    border-radius: 15px !important;
}

.form-field {
    padding: 10px;
    flex: 1;
}
