.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mat-tab-header-active-focus-label-text-color: var(--tab-active-color);
    --mat-tab-header-active-label-text-color: var(--tab-active-color);
    --mat-tab-header-inactive-label-text-color: var(--tab-inactive-color);
    --mat-tab-header-inactive-focus-label-text-color: var(--tab-hover-color);
    --mat-tab-header-inactive-hover-label-text-color: var(--tab-hover-color);
    --mdc-tab-indicator-active-indicator-color: var(--tab-indicator-color);
    --mat-tab-header-active-hover-label-text-color: var(--tab-hover-color);
    --mat-tab-header-inactive-ripple-color: var(--tab-ripple-color);
    --mat-tab-header-active-focus-indicator-color: #000;
    --mdc-secondary-navigation-tab-container-height: 35px;
}
