/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming'; */
/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    margin-left: 5px;
    width: 10px;
    border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.content .row {
    display: flex;
    align-items: center;
    padding: 16px;
}

.content .first-row {
    justify-content: space-between;
    height: 10%;
    font-size: 30px;
}

.content .first-row h1 {
    margin: 0;
    /* font-weight: 500; */
    font-size: 70px;
}

.content .first-row .buttons {
    display: flex;
}

.content .first-row .buttons button {
    margin-left: 8px;
    width: 130px;
    height: 60px;
    border-radius: 15px;
}

.content .first-row .buttons .save-button {
    background-color: #05FF00;
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.content .first-row .buttons .cancel-button {
    background-color: #8F8F8F;
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.content .second-row {
    height: 90%;
    display: flex;
    background-color: #D1D1D1;
    overflow-y: auto;
}

/* LEFT PANE */

.content .second-row .left-pane {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; /* Ensure buttons start at the top */
    padding: 0; /* Ensure there's no padding affecting positioning */
    margin: 0; /* Ensure there's no margin affecting positioning */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* NAVIGATION MENU */

.content .second-row .left-pane .menu-buttons {
    width: 100%;
    margin-top: 0;
    padding: 0; /* Ensure there's no padding affecting positioning */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 40vh;
}

.content .second-row .left-pane .menu-buttons button {
    width: 100%;
    text-align: left;
    background-color: #D1D1D1;
    color: black;
    font-size: 23px;
    margin-bottom: 8px;
    justify-content: left;
    padding-left: 30px;
    border-radius: 10px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* .content[_ngcontent-ng-c2828906938][_ngcontent-ng-c2828906938]   .second-row[_ngcontent-ng-c2828906938][_ngcontent-ng-c2828906938]   .left-pane[_ngcontent-ng-c2828906938][_ngcontent-ng-c2828906938]   .menu-buttons[_ngcontent-ng-c2828906938][_ngcontent-ng-c2828906938]   button[_ngcontent-ng-c2828906938][_ngcontent-ng-c2828906938]{
    justify-content: left;
    padding-left: 25px;
} */

.content .second-row .left-pane .menu-buttons button.selected {
    background-color: #05FF00;
    color: black;
}


/* LIGHT AND DARK MODE TOGGLE */

/* .content .second-row .left-pane .mode-toggle {
    margin-top: 43vh;
    display: flex;
    align-items: center;
    padding: 16px;
}

.content .second-row .left-pane .mode-toggle span {
    margin-right: 8px;
    font-size: 14px;
}

.content .second-row .left-pane .mode-toggle .mat-slide-toggle-thumb {
    background-color: #05FF00 !important;
}

.content .second-row .left-pane .mode-toggle .mat-slide-toggle-track {
    background-color: white !important;
}

.content .second-row .left-pane .mode-toggle .mat-checked .mat-slide-toggle-thumb {
    background-color: #05FF00 !important;
}

.content .second-row .left-pane .mode-toggle .mat-checked .mat-slide-toggle-track {
    background-color: #544C4C !important;
}
*/

.content .second-row .vertical-line {
    width: 3px;
    background-color: #000;
    height: 95%;
    margin-left: 10px;
} 

/* RIGHT PANE */

.content .second-row .right-pane {
    width: 80%;
    padding: 16px;
}

/* GENERAL SECTION */

.content .second-row .right-pane .general-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .second-row .right-pane .general-section .general-row {
    width: 100%;
}

.content .second-row .right-pane .general-section .general-row.general-row-one {
    height: 15vh;
}

.content .second-row .right-pane .general-section .general-row.general-row-one h2 {
    margin: 0;
    font-size: 60px;
}

.content .second-row .right-pane .general-section .general-row.general-row-one p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}

.content .second-row .right-pane .general-section .general-row.general-row-one hr {
    height: 4px;
    box-shadow: none;
    background-color: #000;
    border: none;
    border-radius: 15px;
}

.content .second-row .right-pane .general-section .general-row.general-row-two {
    height: 50vh;
    overflow-y: auto;
}

.content .second-row .right-pane .general-section .general-row.general-row-two h3{
    font-size: 30px;
    margin-bottom: 15px;
}

.theme-selection-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 5%;
    width: 60%;
}

.theme-option {
    cursor: pointer;
    justify-content: left;
}

.theme-option img {
    width: 30vh;
    height: auto;
    border-radius: 15px;
}

.theme-selection-grid .theme-option.selected-theme {
    outline: 7px solid #05FF00;
    border-radius: 15px;
}

.settings-grid {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px; /* Adjusted to create proper spacing between rows */
    column-gap: 20px; /* Adjusted to create proper spacing between columns */
    align-items: start;
    margin-left: 5%;
}

.settings-field mat-form-field{
    /* padding-top: 10px; */
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
}

.settings-field mat-form-field mat-select mat-option {
    padding: none;
    margin: none;
}

.settings-row {
    display: contents;
}

.settings-description {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.settings-field {
    text-align: left;
}  

::ng-deep .mdc-line-ripple,
::ng-deep .mdc-line-ripple.ng-tns-c1534922977-12,
::ng-deep .mdc-line-ripple--deactivating,
::ng-deep .mdc-line-ripple.ng-star-inserted {
    display: none !important;
}

.settings-field mat-form-field ::ng-deep .mat-mdc-select-value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 25px;
}

::ng-deep .mat-mdc-select-arrow svg {
    margin-top: 15px;
}

/* Ensure the overlay panel has a high z-index */
::ng-deep .cdk-overlay-container {
    z-index: 1000;
  }
  

/* PREFERENCES SECTION*/

.content .second-row .right-pane .preferences-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .second-row .right-pane .preferences-section .preferences-row-one {
    height: 15vh;
}

.content .second-row .right-pane .preferences-section .preferences-row-one h2 {
    margin: 0;
    font-size: 60px;
}

.content .second-row .right-pane .preferences-section .preferences-row.preferences-row-one p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}

.content .second-row .right-pane .preferences-section .preferences-row.preferences-row-one hr {
    height: 4px;
    box-shadow: none;
    background-color: #000;
    border: none;
    border-radius: 15px;
}

.content .second-row .right-pane .preferences-section .preferences-row-two {
    height: 50vh;
    overflow-y: auto;
    background-color: red;
}

/* NOTIFICATIONS */

.content .second-row .right-pane .notifications-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .second-row .right-pane .notifications-section .notifications-row-one {
    height: 15vh;
}

.content .second-row .right-pane .notifications-section .notifications-row-one h2 {
    margin: 0;
    font-size: 60px;
}

.content .second-row .right-pane .notifications-section .notifications-row-one p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}

.content .second-row .right-pane .notifications-section .notifications-row-one hr {
    height: 4px;
    box-shadow: none;
    background-color: #000;
    border: none;
    border-radius: 15px;
}

.content .second-row .right-pane .notifications-section .notifications-row-two {
    height: 50vh;
    display: flex;
    background-color: red;
}

/* ACCOUNT SECTION */

.content .second-row .right-pane .accounts-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .second-row .right-pane .accounts-section .accounts-row-one {
    height: 15vh;
}

.content .second-row .right-pane .accounts-section .accounts-row-one h2 {
    margin: 0;
    font-size: 60px;
}

.content .second-row .right-pane .accounts-section .accounts-row-one p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}

.content .second-row .right-pane .accounts-section .accounts-row-one hr {
    height: 4px;
    box-shadow: none;
    background-color: #000;
    border: none;
    border-radius: 15px;
}

.content .second-row .right-pane .accounts-section .accounts-row-two {
    height: 50vh;
    display: flex;
    background-color: red;
}
