<div class="body">
    <div class="content">
      <div class="row first-row">
        <h1>Settings</h1>
        <div class="buttons">
          <button mat-button class="save-button" (click)="onSave()">Save</button>
          <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row second-row">
        <div class="left-pane">
  
          <!-- NAVIGATION MENU -->
          <div class="menu-buttons">
            <button *ngFor="let item of menuItems"
                    mat-button
                    [ngClass]="{'selected': selectedMenuItem === item}"
                    (click)="onItemSelected(item)">
              {{ item.title }}
            </button>
          </div>
  
          <!-- NOT WORKING!!!!  I DON'T KNOW??? -->
          <!-- LIGHT AND DARK MODE TOGGLE -->

          <!-- <div class="mode-toggle">
            <span>{{ isLightMode ? 'Light Mode' : 'Dark Mode' }}</span>
            <mat-slide-toggle [(ngModel)]="isLightMode" (change)="toggleMode()"></mat-slide-toggle>
          </div> -->

        </div>
        
        <div class="vertical-line"></div>

        <div class="right-pane">
  
        <!-- GENERAL SECTION-->
        <div *ngIf="selectedContent">
            <ng-container *ngIf="selectedMenuItem?.title === 'General'; else otherContent">
              <div class="general-section">
                <div class="general-row general-row-one">
                  <h2>General</h2>
                  <p>Update General Settings</p>
                  <hr>
                </div>
                <div class="general-row general-row-two">
                  <h3>Select theme</h3>
                  <div class="theme-selection-grid">
                    <div class="theme-option" [ngClass]="{'selected-theme': currentTheme === 'light'}" (click)="selectTheme('light')">
                      <img src="assets/img/light-mode.png" alt="Light Mode" />
                      <!-- <p>Light Mode</p> -->
                    </div>
                    <div class="theme-option" [ngClass]="{'selected-theme': currentTheme === 'dark'}" (click)="selectTheme('dark')">
                      <img src="assets/img/dark-mode.png" alt="Dark Mode" />
                      <!-- <p>Dark Mode</p> -->
                    </div>
                  </div>
                  <div class="settings-grid">
                    <div class="settings-row">
                      <div class="settings-description">Time Zone</div>
                      <div class="settings-field">
                        <mat-form-field appearance="fill">
                          <!-- <mat-label>Time Zone</mat-label>  -->
                          <mat-select placeholder="Time Zone">
                            <mat-option *ngFor="let zone of timeZones" [value]="zone">
                              {{ zone }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="settings-row">
                      <div class="settings-description">Language</div>
                      <div class="settings-field">
                        <mat-form-field>
                          <!-- <mat-label>Language</mat-label> -->
                          <mat-select placeholder="Language">
                            <mat-option *ngFor="let lang of languages" [value]="lang">
                              {{ lang }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="settings-row">
                      <div class="settings-description">Date and Time Format</div>
                      <div class="settings-field">
                        <mat-form-field>
                          <!-- <mat-label>Date and Time Format</mat-label> -->
                          <mat-select placeholder="Date and Time Format">
                            <mat-option *ngFor="let format of dateTimeFormats" [value]="format">
                              {{ format }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
  
  
          <!-- PREFERENCES SECTION -->
          <div *ngIf="selectedContent">
            <ng-container *ngIf="selectedMenuItem?.title === 'Preferences'; else otherContent">
              <div class="preferences-section">
                <div class="preferences-row preferences-row-one">
                  <h2>Preferences</h2>
                  <p>Update Application Preferences</p>
                  <hr>
                </div>
                <div class="preferences-row preferences-row-two">
                  
                </div>
                
              </div>
            </ng-container>
          </div>
  
          <!-- NOTIFICATIONS SUPPORT -->
          <div *ngIf="selectedContent">
            <ng-container *ngIf="selectedMenuItem?.title === 'Notifications'; else otherContent">
              <div class="notifications-section">
                <div class="notifications-row-one">
                  <h2>Notifications</h2>
                  <p>Update Application Notifications</p>
                  <hr>
                </div>
                <div class="notifications-row-two">
                  
                </div>
              </div>
            </ng-container>
          </div>
          
          <!-- ACCOUNT -->
          <div *ngIf="selectedContent">
            <ng-container *ngIf="selectedMenuItem?.title === 'Account'; else otherContent">
              <div class="accounts-section">
                <div class="accounts-row-one">
                  <h2>Accounts</h2>
                  <p>Update User Account Information</p>
                  <hr>
                </div>
                <div class="accounts-row-two">
                  
                </div>
              </div>
            </ng-container>
          </div>
        
          <ng-template #otherContent>
            {{ selectedContent }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>