<ng-container>
    <button (click)="visitProfile()">Profile</button>
    <button (click)="visitNotifications()">Notification Settings</button>
</ng-container>
<!-- <ng-container>
            <div class="second-row" style="text-align: center">
                <h4>Theme</h4>
                <hr />
                <div class="theme-selection-grid">
                    <div
                        class="theme-option"
                        [ngClass]="{ 'selected-theme': currentTheme === 'light' }"
                        (click)="selectTheme('light')"
                    >
                        <img src="assets/img/light-mode.png" alt="Light Mode" />
                    </div>
                    <div
                        class="theme-option"
                        [ngClass]="{ 'selected-theme': currentTheme === 'dark' }"
                        (click)="selectTheme('dark')"
                    >
                        <img src="assets/img/dark-mode.png" alt="Dark Mode" />
                    </div>
                </div>
            </div>
        </ng-container>
    </mat-tab> -->
