<div class="modal-container">
    <h1 mat-dialog-title style="text-align: center; --mdc-dialog-subhead-size: 30px">Import Inventory Items</h1>
    <div mat-dialog-content>
        <div class="file-upload-container">
            <div class="file-input-wrapper">
                <input
                    type="file"
                    (change)="onFileSelected($event)"
                    accept=".csv"
                    #fileInput
                    id="fileInput"
                    class="file-input"
                />
                <label for="fileInput" class="file-input-label">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>Choose a file</span>
                </label>
                <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
            </div>
            <button
                mat-flat-button
                color="primary"
                (click)="uploadFile()"
                [disabled]="!selectedFile || uploading"
                style="margin-right: auto; margin-left: auto; border-radius: 5px; width: 150px; height: 40px"
            >
                <mat-icon>upload</mat-icon>
                {{ uploading ? 'Uploading...' : 'Upload' }}
            </button>
        </div>
        <div class="file-format-info">
            <h3>Accepted File Format:</h3>
            <ul>
                <li>CSV (.csv)</li>
            </ul>
            <p>Your file must contain the following columns:</p>
            <ul>
                <li>SKU</li>
                <li>upc</li>
                <li>category</li>
                <li>quantity</li>
                <li>description</li>
                <li>expirationDate</li>
                <li>supplier</li>
                <li>unitCost</li>
                <li>deliveryCost</li>
                <li>leadTime</li>
                <li>lowStockThreshold</li>
                <li>reorderAmount</li>
                <li>annualDemand</li>
                <li>dailyDemand</li>
                <li>EOQ</li>
                <li>holdingCost</li>
                <li>safetyStock</li>
            </ul>
        </div>
        <div class="sample-files">
            <h3>Download Sample File:</h3>
            <button mat-stroked-button color="primary" (click)="downloadSampleFile()" class="sample-button">
                <mat-icon>download</mat-icon>
                Sample CSV
            </button>
        </div>
    </div>
    <div mat-dialog-actions>
        <button
            mat-flat-button
            color="primary"
            (click)="onCancel()"
            style="margin-right: auto; margin-left: auto; border-radius: 5px; width: 200px; height: 40px"
        >
            Cancel
        </button>
    </div>

    <div *ngIf="isLoading" class="loading-overlay">
        <app-loading-spinner></app-loading-spinner>
    </div>
</div>
