.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    padding: 15px;
}

.donut-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.year-dropdown {
    padding: 5px 10px;
    margin-left: auto;
}

.chart-container {
    height: 90px;
    /* background-color: #cccccc4d; */
}

mat-select {
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 10px;
    align-content: center;
    padding: 10px;
    width: 200px;
    height: 60px;
    font-size: 15px;
}

::ng-deep .mat-mdc-select-value {
    width: 100px;
}

mat-select{
    color: var(--text-color);
}

span.mat-mdc-select-min-line {
    font-size: 19px;
    font-weight: 400;
}

:host {
    display: block;
    width: 100%;
    height: 85%;
}