<div class="full-width-tile">
    <div class="chart-container">
        <!-- First Column for Donut Chart -->
        <div class="column half-width">
            <div class="chart-header">
                <!-- <h2>Most Popular Products</h2> -->
                <div class="filter">
                    <!-- <mat-form-field class="year-dropdown"> -->
                        <!-- <mat-label>Select Year</mat-label> -->
                        <mat-select [(ngModel)]="selectedYear" (selectionChange)="updateChartData(selectedYear)">
                            <mat-option value="2024">This year</mat-option>
                            <mat-option value="2023">2023</mat-option>
                            <mat-option value="2022">2022</mat-option>
                            <mat-option value="2021">2021</mat-option>
                        </mat-select>
                    <!-- </mat-form-field> -->
                </div>
            </div>

        </div>

        <!-- Second Column (Blank for now) -->
        <div class="column half-width">
            <!-- Future content can be added here -->
        </div>
    </div>
</div>
<ag-charts-angular [options]="chartOptions"></ag-charts-angular>