<div id="orders-chart-container">
    <div class="filter-container">
        <mat-form-field appearance="fill" class="year-dropdown">
            <mat-label>Select Year</mat-label>
            <mat-select [(ngModel)]="selectedYear" (selectionChange)="updateChartData()">
                <mat-option value="2024">This year</mat-option>
                <mat-option value="2023">2023</mat-option>
                <mat-option value="2022">2022</mat-option>
                <mat-option value="2021">2021</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title" [dataLabels]="chartOptions.dataLabels" [tooltip]="chartOptions.tooltip">
    </apx-chart>
</div>