<div style="height: 100%; display: block; overflow-y: scroll">
    <mat-grid-list cols="2" rowHeight="440px" gutterSize="10px">
        <mat-grid-tile>
            <div class="card-container">
                <mat-card class="card">
                    <mat-card-header class="card-header">
                        <div class="header-content">
                            <mat-card-title>test</mat-card-title>
                            <p class="subtitle">test</p>
                            <!-- <mat-card-subtitle style="padding: 10px">{{ report.value.subtitle }}</mat-card-subtitle> -->
                        </div>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button class="view-report-button">
                            <span>View Full Report</span>
                            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
