.chart {
    width: 50%;
}

.myOrderCharts{
    background-color: #ffff !important;
}

gridster {
    background-color: transparent !important;
}

mat-card.mat-mdc-card.mdc-card {
    background-color: #ffff;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.15);
}

.btn {
    border-radius: 20px;
    margin-right: 10px;
    --mdc-outlined-button-label-text-color: black;
    --mdc-outlined-button-outline-color: #74777f;
    border-radius: 5px;
    width: 200px;
    height: 40px;
}

/* order-report-metrics.component.css */
.metrics-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 0 10px;
}

.metrics-container button {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 10px;
}

.metrics-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.metrics-card li {
    font-size: 15px;
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
}


.metrics-wrapper {
    display: flex;
    gap: 29px;
    /* overflow: hidden; */
    width: 100%;
    justify-content: space-between;
}

.metric-card {
    width: 35%;
    height: 180px;
    padding: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-right: 16px;
    flex-shrink: 0;
    /* Prevent icon from shrinking */
}

.icon-container mat-icon {
    font-size: 24px;
    color: #666;
}


.metric-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.title {
    font-weight: 300;
}

.metric-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.metric-value {
    font-size: 24px;
    font-weight: bold;
}

/* Media query for responsiveness */
@media (max-width: 1024px) {
    .metrics-wrapper {
        width: 780px;
        /* (250px * 3) + (15px * 2) */
        gap: 15px;
    }

    .metric-card {
        width: 250px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .metrics-wrapper {
        width: 620px;
        /* (200px * 3) + (10px * 2) */
        gap: 10px;
    }

    .metric-card {
        width: 200px;
        height: 120px;
    }

    .metric-name {
        font-size: 16px;
    }

    .metric-value {
        font-size: 24px;
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.inventoryHolder {
    padding-left: 17px;
    padding-right: 17px;
}

.report {
    padding: 10px;
}

gridster-item:not(.order-report-item) {
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.15);
    margin-left: 2px;
    background: #ffff !important;
    border-radius: 10px;
}

gridster-item {
    overflow: visible !important;
    border-radius: 10px !important;
    background-color: transparent !important;
}

.app-grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.app-grid-container .grid-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.app-grid-container .inventoryHolder {
    flex-grow: 1;
    overflow: hidden;
}

.app-grid-container app-grid {
    height: 100%;
    width: 100%;
}

mat-card-content.mat-mdc-card-content.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 10px;
}

mat-card-title {
    font-size: 17px;
    margin-bottom: 8px;
}


.card-layout {
    display: flex;
    align-items: center;
    width: 100%;
    /* Ensure full width of card */
    gap: 10%;
}

.additional-info {
    font-size: 14px;
    color: #666;
    text-align: right;
    /* Align to the right */
}

.align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}