<div class="supplierHolder">
    <app-grid
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [addButton]="addButton"
        (addNewClicked)="openAddSupplierPopup()"
        (itemToUpdate)="handleCellValueChanged($event)"
        (rowsToDelete)="handleRowsToDelete($event)"
        (importExcelClicked)="openImportSuppliersModal()"
        #gridComponent
    >
    </app-grid>
</div>

<!-- Add Supplier Popup -->
<div *ngIf="showAddPopup" class="popup-overlay">
    <div class="content">
        <h1 mat-dialog-title style="text-align: center; font-size: 30px">Add Supplier</h1>
        <mat-dialog-content>
            <ng-container>
                <form
                    (ngSubmit)="onSubmit(supplierForm.value)"
                    #supplierForm="ngForm"
                    style="display: flex; align-items: center; width: 580px; flex-direction: column"
                >
                    <mat-form-field appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input
                            matInput
                            id="company_name"
                            name="company_name"
                            [(ngModel)]="supplier.company_name"
                            required
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contact Name</mat-label>
                        <input
                            matInput
                            id="contact_name"
                            name="contact_name"
                            [(ngModel)]="supplier.contact_name"
                            required
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contact Email</mat-label>
                        <input
                            matInput
                            type="email"
                            id="contact_email"
                            name="contact_email"
                            [(ngModel)]="supplier.contact_email"
                            required
                            email
                            #contactEmail="ngModel"
                        />
                        <mat-error *ngIf="contactEmail.invalid && (contactEmail.dirty || contactEmail.touched)">
                            <span *ngIf="contactEmail.errors?.['required']">Contact email is required.</span>
                            <span *ngIf="contactEmail.errors?.['email']">Please enter a valid email address.</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input
                            matInput
                            type="tel"
                            id="phone_number"
                            name="phone_number"
                            [(ngModel)]="supplier.phone_number"
                            required
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Street</mat-label>
                        <input matInput id="street" name="street" [(ngModel)]="supplier.address.street" required />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput id="city" name="city" [(ngModel)]="supplier.address.city" required />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>State/Province</mat-label>
                        <input
                            matInput
                            id="state_province"
                            name="state_province"
                            [(ngModel)]="supplier.address.state_province"
                            required
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Postal Code</mat-label>
                        <input
                            matInput
                            id="postal_code"
                            name="postal_code"
                            [(ngModel)]="supplier.address.postal_code"
                            required
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input matInput id="country" name="country" [(ngModel)]="supplier.address.country" required />
                    </mat-form-field>
                </form>
            </ng-container>
        </mat-dialog-content>
        <mat-dialog-actions align="end" style="display: flex; padding-bottom: 10px">
            <button class="btn" mat-flat-button type="button" (click)="closeAddPopup()">Cancel</button>
            <button class="btn" mat-flat-button type="submit" [disabled]="!supplierForm.form.valid">Submit</button>
        </mat-dialog-actions>
    </div>
</div>

<!-- Delete Confirmation Popup -->
<div *ngIf="showDeletePopup" class="popup-overlay">
    <div class="popup-content">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete the selected supplier(s)?</p>
        <div class="button-group">
            <button mat-flat-button class="btn2" (click)="cancelDelete()">No</button>
            <button mat-flat-button class="btn2" (click)="confirmDelete()">Yes</button>
        </div>
    </div>
</div>

<!-- Edit Address Popup -->
<div *ngIf="showEditAddressPopup" class="popup-overlay">
    <div class="content">
        <h1 mat-dialog-title style="text-align: center; font-size: 30px">Edit Supplier Address</h1>
        <mat-dialog-content>
            <ng-container>
                <form
                    (ngSubmit)="onEditAddressSubmit(editAddressForm.value)"
                    #editAddressForm="ngForm"
                    style="display: flex; align-items: center; width: 580px; flex-direction: column"
                >
                    <mat-form-field appearance="outline">
                        <mat-label for="edit_street">Street</mat-label>
                        <input
                            matInput
                            type="text"
                            id="edit_street"
                            name="street"
                            [(ngModel)]="editAddress.street"
                            required
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label for="edit_city">City</mat-label>
                        <input
                            matInput
                            type="text"
                            id="edit_city"
                            name="city"
                            [(ngModel)]="editAddress.city"
                            required
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label for="edit_state_province">State/Province</mat-label>
                        <input
                            matInput
                            type="text"
                            id="edit_state_province"
                            name="state_province"
                            [(ngModel)]="editAddress.state_province"
                            required
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label for="edit_postal_code">Postal Code</mat-label>
                        <input
                            matInput
                            type="text"
                            id="edit_postal_code"
                            name="postal_code"
                            [(ngModel)]="editAddress.postal_code"
                            required
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label for="edit_country">Country</mat-label>
                        <input
                            matInput
                            type="text"
                            id="edit_country"
                            name="country"
                            [(ngModel)]="editAddress.country"
                            required
                        />
                    </mat-form-field>
                </form> </ng-container
        ></mat-dialog-content>
        <mat-dialog-actions align="end" style="display: flex; padding-bottom: 10px">
            <button mat-flat-button class="btn" type="button" (click)="closeEditAddressPopup()">Cancel</button>
            <button mat-flat-button class="btn" type="submit">Submit</button>
        </mat-dialog-actions>
    </div>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <app-loading-spinner></app-loading-spinner>
</div>
