.dialog {
    width: 40vw;
    height: 50vh;
}

.header {
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    height: 50px;
}

h1 {
    font-size: 30px;
}

.itemHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --mdc-protected-button-label-text-color: #000000;
}

.form {
    margin: 20px;
    --mdc-protected-button-label-text-color: #000000;
}
html {
    --mdc-protected-button-label-text-color: #000000;
}