.chart {
    width: 50%;
}

gridster {
    background-color: white !important;
}

gridster-item {
    border-radius: 10px;
    background-color: transparent;
}

gridster-item:not(.grid-card) {
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.15);
    margin-left: 2px;
    background: transparent !important;
    
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

mat-card.mat-mdc-card.mdc-card {
    background-color: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    padding: 10px;
}

.btn {
    border-radius: 20px;
    margin-right: 10px;
    --mdc-outlined-button-label-text-color: black;
    --mdc-outlined-button-outline-color: #74777f;
    border-radius: 5px;
    width: 200px;
    height: 40px;
}

.chart-tile {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.chart-tile.wide {
    grid-column: span 3;
}

.chart-tile.full-width {
    grid-column: span 9;
}

.chart-tile.medium-width {
    grid-column: span 7;
}

.chart {
    width: 100%;
    height: 300px;
    /* Adjust as needed */
}

.inventory-holder {
    width: 100%;
    height: 300px;
    /* Adjust as needed */
}

.gridster-container {
    height: calc(100vh - 64px); /* Adjust based on your layout */
    width: 100%;
    overflow: auto;
}

.chart-card, .metrics-card {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chart-card ag-charts-angular,
.grid-card app-grid {
    flex-grow: 1;
}

.metrics-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.metrics-card li {
    font-size: 15px;
    padding: 8px 0;
    border-bottom: 1px solid lightgrey;
}

.back-toolbar {
    position: sticky;
    top: 94%;
    left: 20px;
    width: auto;
    border-radius: 20px;
    height: 50px;
    background-color: transparent;
    z-index: 1;
}

.btn {
    display: flex;
    align-items: center;
}

.btn mat-icon {
    margin-right: 8px;
}