<ng-container *ngIf="isLandingPage || isSupplierForm; else mainApp">
  <router-outlet></router-outlet>
</ng-container>
  
  <ng-template #mainApp>
    <amplify-authenticator>
      <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
        <div class="container">
          <button (click)="toggleTheme()">Toggle Theme</button>
          <app-sidebar></app-sidebar>
          <div style="flex-grow: 1">
            <app-header></app-header>
            <div class="content">
              <app-loader></app-loader>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </ng-template>
    </amplify-authenticator>
  </ng-template>