<div class="btn-holder">
    <div class="filter">
        <input [(ngModel)]="inputFilter" (input)="filterGrid()" placeholder="Search Order" />
        <mat-select [(ngModel)]="filterSelect">
            <mat-option *ngFor="let option of selectOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
    </div>
    <div>
        <button class="btnAdd" mat-raised-button [matMenuTriggerFor]="menu">Quick Actions</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item color="primary" (click)="downloadCSV()">Export To Excel</button>
            <button mat-menu-item color="primary" (click)="importExcel()">Import From Excel</button>
            <button mat-menu-item color="primary" (click)="openAddDialog()">+ New {{ addButton.text }}</button>
            <button mat-menu-item color="warn" (click)="openRemoveDialog()">Remove Items</button>
        </mat-menu>
    </div>
</div>

<div class="grid-container">
    <ag-grid-angular
        [rowData]="filteredRowData"
        [columnDefs]="columnDefs"
        class="ag-theme-quartz aggrid"
        (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
</div>