@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.aggrid {
    width: 100%;
    /* height: 20vh; */
}

.tooltip {
    max-width: 250px;
    /* Adjust this value as needed */
}

.icon {
    font-size: 20px;
    border-radius: 50%;
    padding-left: 15px;
    display: flex;
    align-items: inherit;
    height: 100%;
    width: 100%;
    color: #74777f;
}

.btn-holder {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btnAdd {
    border-radius: 20px;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    color: #000000;
    height: 40px;
    /* border: 1px solid #74777f; */
    box-shadow: 2px 2px 2px 0px #e0e0e0;
    border-color: #c4c6d0;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    gap: 8px;
}
.btnAdd mat-icon {
    position: absolute;
    left: 170px;
}
.card {
    width: 100%;
    margin-top: 10px;
    padding-right: 5px;
}
/* .input-container {
    border-radius: 5px;
    height: 40px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5px;
    margin-left: 5px;
    background-color: white;
    box-shadow: 1px 3px 6px 0px #74777f;
} */
.input-container {
    border-radius: 5px;
    height: 40px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5px;
    /* margin-left: 5px; */
    background-color: white;
    box-shadow: 2px 2px 2px 0px #e0e0e0;
    /* border: black; */
    /* border-color: black; */
    border-color: #c4c6d0;
    border-width: 1px;
    border-style: solid;
}

.input-box {
    height: 36px;
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    /* background-color: #f1f1f1; */
}

input:focus-visible {
    outline-offset: 0px;
    outline: none;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    outline: none;
}
mat-select {
    border: 1px solid #74777f;
    border-radius: 5px;
    margin-left: 10px;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    height: 40px;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

mat-select {
    color: var(--text-color);
}

/* For global styles.css */
.mat-form-field-type-mat-select .mat-form-field-label {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-select-value {
    width: 100px;
}

:host ::ng-deep .mat-form-field-type-mat-select .mat-form-field-label {
    color: var(--text-color) !important;
}

.filter {
    display: flex;
    align-items: center;
}

.QAButtons {
    width: 200px;
    background-color: white;
    --mat-menu-container-color: #74777f;
    --mat-menu-item-hover-state-layer-color: #f1f1f1;
    border: #74777f;
    color: #000000;
}
