<div class="btn-holder">
    <div class="filter">
        <input [(ngModel)]="inputFilter" (input)="filterGrid()" placeholder="Search..." />
        <mat-select [(ngModel)]="filterSelect" placeholder="Select Column">
            <mat-option *ngFor="let option of selectOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
    </div>
    <div>
        <button class="btnAdd" mat-raised-button [matMenuTriggerFor]="menu">Quick Actions</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item color="primary" (click)="downloadCSV()">Export Excel</button>
            <button mat-menu-item color="primary" (click)="importExcel()">Import Excel</button>
            <button mat-menu-item color="primary" (click)="addRow()">+ Add New</button>
            <button mat-menu-item color="primary" (click)="deleteRow()">- Remove Selected</button>
        </mat-menu>
    </div>
</div>

<div class="grid-container">
    <ag-grid-angular
        [rowData]="filteredRowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        [editType]="editType"
        (cellValueChanged)="onCellValueChanged($event)"
        (rowValueChanged)="onRowValueChanged($event)"
        [rowData]="rowData"
        class="ag-theme-quartz aggrid"
        (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
</div>
