@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import 'ag-grid-community/styles/ag-theme-material.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
.aggrid {
    width: 100%;
    /* height: 20vh; */
}

.btn-holder {
    margin: 15px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btnAdd {
    border-radius: 5px;
    margin-right: 10px;
    --mdc-protected-button-label-text-color: #000000;
    background-color: #f1f1f1;
}

.input-container {
    border: 1px solid grey;
    border-radius: 5px;
    height: 40px;
    width: 350px;
}

.input-box {
    height: 36px;
    width: 323px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    background-color: none;
}

mat-select {
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 10px;
    align-content: center;
    padding: 5px;
    width: 200px;
    height: 40px;
    font-size: 15px;
}

mat-select {
    color: var(--text-color);
}

/* For global styles.css */
.mat-form-field-type-mat-select .mat-form-field-label {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-select-value {
    width: 100px;
}

:host ::ng-deep .mat-form-field-type-mat-select .mat-form-field-label {
    color: var(--text-color) !important;
}

.filter {
    display: flex;
    align-items: center;
}
