<h2 mat-dialog-title>Add New Member</h2>
<mat-dialog-content>
    <mat-selection-list #membersList>
        <mat-list-option *ngFor="let member of members" [value]="member" checkboxPosition="before">
            {{ member.name }} - {{ member.role }}
        </mat-list-option>
    </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onAddClick(membersList.selectedOptions.selected)">Add</button>
</mat-dialog-actions>
