<div class="orderHolder">
    <app-grid 
    [rowData]="rowData"
    [columnDefs]="colDefs"
    (newCustomQuote)="handleNewCustomQuote($event)"
    (viewGeneratedQuoteClicked)="viewGeneratedQuote()"
    (viewEmailTemplateClicked)="viewEmailTemplate()"
    (viewDeliveryInfoClicked)="viewDeliveryInfo()"
    (rowSelected)="onRowSelected($event)"
    (deleteOrderClicked)="deleteOrderRow()"
    #gridComponent
    >
    </app-grid>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <app-loading-spinner></app-loading-spinner>
</div>