.sidenav-container {
    height: 100vh;
    width: 100%; /* Ensures the sidenav container takes full available space */
}

.sidenav {
    height: 100vh;
    width: 50px; /* Standard width for sidenav */
    /* background-color: var(--sidebar-bg-color); */ /* Light grey background */
    background-color: var(--sidebar-bg-color);
    transition: width 0.8s;
    transition-delay: 0s;
    height: 100vh;
    width: 50px; /* Standard width for sidenav */
    color: var(--sidebar-text-color); /* Changes default text/icon color to black for visibility */
    transition: width 0.8s ease;
    transition-delay: 0s;
    overflow: hidden;
}

p {
    width: 0px;
    overflow: hidden;
    transition: width 0.8s;
    transition-delay: 0s;
}

.expanded {
    width: 100px;
    transition-delay: 0s;
}

.expanded p {
    width: 100px;
    transition-delay: 0s;
    color: var(--sidebar-text-color);
}

.sidenav:hover {
    width: 100px;
    transition-delay: 1s;
}

.sidenav:hover p {
    width: 100px;
    transition-delay: 1s;
    color: var(--sidebar-text-color);
}

mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px; /* Standard toolbar height */
    background-color: var(--sidebar-bg-color); /* Slightly darker shade for the toolbar */
}

mat-icon {
    display: block; /* Block display for icons */
    margin: auto;
    font-size: 24px; /* Standard Material icon size */
    color: var(--sidebar-text-color);
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--sidebar-text-color); /* Ensures text is black */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

a:hover {
    height: 50px;
    background-color: var(--sidebar-hover-bg-color); /* Adds a hover effect  */
}

a div {
    margin-top: 5px;
}

a.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    height: 70px;
}
