.mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

gridster {
    background-color: transparent !important;
}

gridster-item {
    border-radius: 10px !important;
    background-color: transparent !important;
}

gridster-item:not(.act-report) {
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.15);
    margin-left: 2px;
    background: transparent !important;
}

.mat-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metric-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-toolbar {
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 1000;
    transition: left 0.3s ease; /* Smooth transition for sidebar interaction */
}
.btn {
    border-radius: 5px;
    padding: 0 16px;
    height: 40px;
    min-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition:
        background-color 0.3s ease,
        transform 0.2s ease,
        left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #e0e0e0;
    color: #333;
    transform: translateY(-2px);
}

.btn mat-icon {
    margin-right: 8px;
    font-size: 18px;
}

/* Ensure the button is visible on smaller screens */
@media (max-width: 600px) {
    .back-toolbar {
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px); /* Full width minus some padding */
        max-width: 300px;
    }

    .btn {
        width: 100%;
    }
}

.mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.metric-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.metric-value {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .mat-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
    }

    .metric-name {
        font-size: 14px;
    }

    .metric-value {
        font-size: 20px;
    }
}

.text-success {
    color: #4caf50;
}

.text-danger {
    color: #f44336;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

mat-card.mat-mdc-card.mdc-card {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15); */
    /* margin-left: 2px; */
    background: #ffff !important;
    /* border-radius: 10px; */
}
