<div *ngIf="isDeleteMode" class="overlay">
    <div class="modal">
        <p>{{ pendingDeletions.length + standaloneDeletions.length }} widgets marked for deletion.</p>
        <button mat-button (click)="finalizeDeletions()">Confirm Deletions</button>
        <button mat-button (click)="undoDeletions()">Undo</button>
    </div>
</div>
<div class="main-container gridster-container">
    <div class="help-button-container">
        <a id="help-button">
            <button mat-raised-button [matMenuTriggerFor]="mainMenu">Help Options</button>
            <mat-menu #mainMenu="matMenu" yPosition="above">
                <button mat-menu-item [matMenuTriggerFor]="widgetMenu">Add a Widget</button>
                <button mat-menu-item (click)="toggleDeleteMode()">Delete a Widget</button>
                <button mat-menu-item routerLink="/help">Help</button>
                <button mat-menu-item routerLink="/settings">Settings</button>
            </mat-menu>

            <mat-menu #widgetMenu="matMenu" yPosition="above">
                <button mat-menu-item (click)="addChart('bar')">Bar Chart</button>
                <button mat-menu-item (click)="addChart('donut')">Donut Chart</button>
                <button mat-menu-item (click)="addChart('area')">Area Chart</button>
            </mat-menu>
        </a>
    </div>
    <!-- <div class="sidebar-container">
        <div class="gear-icon" (click)="toggleSidebar()">
            <mat-icon class="gear">settings</mat-icon>
        </div>
        <div class="sidebar" [class.active]="sidebarOpen">
            <div class="sidebar-header">SIDEBAR FILTERS</div>
            <div class="sidebar-content">
                <button mat-button>Download Free</button>
                <button mat-button>Buy Pro</button>
                <button mat-button>View Documentation</button>
            </div>
        </div>
    </div> -->
    <gridster [options]="options">
        <gridster-item [item]="item" *ngFor="let item of dashboard">
            <!-- Use ngSwitch to differentiate between card types -->
            <div [ngSwitch]="item.type" [class.blur]="isDeleteMode && !pendingDeletions.includes(item)"
                *ngIf="item.isActive">
                <!-- Normal Cards -->
                <div *ngSwitchCase="'card'" class="card" [ngClass]="{'orders': item.name === 'Orders'}">
                    <button *ngIf="isDeleteMode" mat-mini-fab color="warn" class="delete-icon"
                        (click)="markForDeletion(item, $event)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <div class="icon-container">
                        <mat-icon class="icon" [matTooltip]="item.tooltip ?? 'No description available'"
                            matTooltipPosition="above">{{item.icon}}</mat-icon>
                    </div>
                    <div class="text-content">
                        <h4>{{item.name}}</h4>
                        <p class="analytic">{{item.analytic}}</p>
                    </div>
                    <div class="percentage"
                        [ngClass]="{'increase': (item.percentage ?? 0) > 0, 'decrease': (item.percentage ?? 0) < 0}">
                        {{item.percentage | percent:'1.1-2'}}
                    </div>
                </div>
            </div>
            <ng-container *ngIf="item.type === 'chart'" [class.blur]="isDeleteMode && !pendingDeletions.includes(item)">
                <button *ngIf="isDeleteMode" mat-mini-fab color="warn" class="delete-icon"
                    (click)="markForDeletion(item, $event)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
                <ng-container *ngComponentOutlet="item.component"></ng-container>
            </ng-container>
        </gridster-item>
        <gridster-item *ngIf="largeItem.isActive" [item]="largeItem">
            <button *ngIf="isDeleteMode" mat-mini-fab color="warn" class="delete-icon"
                (click)="markForDeletion(largeItem, $event)">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <div class="full-width-card">
                <div class="statistics">
                    <div class="sales">
                        <h3>Requests</h3>
                        <!-- Insert sales analytics content here -->
                    </div>
                    <div class="earnings">
                        <h3>Backorders</h3>
                        <!-- Insert earnings analytics content here -->
                    </div>
                </div>
                <app-saleschart class="chart"></app-saleschart>
            </div>
        </gridster-item>
        <gridster-item *ngIf="newLargeItem.isActive" [item]="newLargeItem">
            <button *ngIf="isDeleteMode" mat-mini-fab color="warn" class="delete-icon"
                (click)="markForDeletion(newLargeItem, $event)">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <div class="new-full-width-card">
                <app-barchart class="chart-section"></app-barchart>
                <div class="info-section">
                    <h3>Want full report?</h3>
                    <p>Awesome! You can see more detailed information and download it using this option.</p>
                    <button class="report-btn" routerLink="/reports">See reports</button>
                </div>
            </div>
        </gridster-item>
        <gridster-item *ngIf="SalesvsTarget.isActive" [item]="SalesvsTarget">
            <button *ngIf="isDeleteMode" mat-mini-fab color="warn" class="delete-icon"
                (click)="markForDeletion(SalesvsTarget, $event)">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <app-bubblechart></app-bubblechart>
        </gridster-item>
        <gridster-item *ngIf="Product.isActive" [item]="Product">
            <button *ngIf="isDeleteMode" mat-mini-fab color="warn" class="delete-icon"
                (click)="markForDeletion(Product, $event)">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <app-donutchart></app-donutchart>
        </gridster-item>
    </gridster>

</div>