<div class="card-content">
    <gridster [options]="options">
        <gridster-item *ngFor="let chart of dashboard" [item]="chart">
            <ng-container *ngComponentOutlet="chart.component"></ng-container>
          </gridster-item>
    </gridster>
</div>

<a id="help-button">
    <button mat-raised-button [matMenuTriggerFor]="mainMenu">Help Options</button>
    <mat-menu #mainMenu="matMenu" yPosition="above">
        <button mat-menu-item [matMenuTriggerFor]="widgetMenu">Add a Widget</button>
        <button mat-menu-item>Help</button>
        <button mat-menu-item>Settings</button>
    </mat-menu>

    <mat-menu #widgetMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="addChart('bar')">Bar Chart</button>
        <button mat-menu-item (click)="addChart('donut')">Donut Chart</button>
        <button mat-menu-item (click)="addChart('area')">Area Chart</button>
    </mat-menu>
</a>