.gridster-item {
    border: 1px solid #ccc;
    background: #f4f4f4;
    overflow: visible;
    /* Ensures nothing is clipped */
    transition: width 0.5s ease, height 0.5s ease;
    /* Smooth transitions on resize */
}

.card {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.card-content {
    position: relative;
    /* Essential for positioning the absolute child */
    height: 100%;
    /* Adjust based on your layout needs */
    width: 100%;
    padding-top: 10px;
    /* margin-top: 100px; */
    /* Adjust based on your layout needs */
    /* padding: 10px; Optional: for some spacing inside the card */
}

.gridster-item,
.card {
    overflow: visible;
}


gridster {
    position: relative;
    box-sizing: border-box;
    background: white;
    width: 100%;
    height: 100vh;
    user-select: none;
    display: block;
    
}

gridster-item {
    /* box-sizing: border-box;
    z-index: 1;
    position: absolute;
    
    transition: .3s;
    display: none; */
    background: #ccc;
    overflow: visible;
    /* -webkit-user-select: text;
    user-select: text; */
}

.card-header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

.gridster-item {
    padding-top: 20px;
    overflow: visible;
}

.ag-charts-angular {
    width: 100%;
    height: 100%;
}

/* This targets the specific class for AG Charts and overrides the position */
.ag-chart-wrapper {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    /* Ensures it takes the full width of the parent */
    height: 93% !important;
    /* Ensures it takes the full height of the parent */
}

#help-button {
    position: fixed;
    /* Keeps the button in a fixed position on the screen */
    right: 20px;
    /* Distance from the right edge of the viewport */
    bottom: 20px;
    /* Distance from the bottom edge of the viewport */
    z-index: 1000;
    /* Ensures the button floats above other page content */
    border: none;
    /* Optional: Removes any border if present */
}

#help-button video {
    width: 120px;
    height: auto;
    border-radius: 64%;
    overflow: hidden;
}
