<aside class="side-navbar" [class.expanded]="isExpanded">
	<div class="toggle-btn" (click)="toggleNavbar()">
		<ion-icon name="menu-outline" size="large"></ion-icon>
	</div>
	<ul class="nav-menu">
		<li href="/dashboard">
			<ion-icon name="home-outline"></ion-icon>
			<span class="label">Dashboard</span>
		</li>
		<li href="/inventory">
			<ion-icon name="cube-outline"></ion-icon>
			<span class="label">Inventory</span>
		</li>
		<li href="/reports">
			<ion-icon name="pie-chart-outline"></ion-icon>
			<span class="label">Reports</span>
		</li>
		<li href="/requests">
			<ion-icon name="clipboard-outline"></ion-icon>
			<span class="label">Requests</span>
		</li>
		<li href="/suppliers">
			<ion-icon name="people-outline"></ion-icon>
			<span class="label">Suppliers</span>
		</li>
		<li href="/orders">
			<ion-icon name="cart-outline"></ion-icon>
			<span class="label">Orders</span>
		</li>
		<div class="nav-bottom">
			<li href="/logout"><ion-icon name="log-out-outline"></ion-icon><span *ngIf="isExpanded">Logout</span></li>
		</div>
	</ul>
</aside>